<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel="stylesheet" href="./styles/form-styles.css">
            <title>no es un cuestionario</title>
        </head>
        <body>
            <main class="mx-auto">
                <h1 class="mx-auto">no es un cuestionario</h1>
                <br/>
                <b class="mx-auto">Author:</b> Mirco
                <br/>
                <br/>
                <b class="mx-auto">Max points:</b> 50
                <br/>
                <div id="user-form">
                    <form style="width: 75vh;" class="mx-auto" > 
                        <h3>Ingresa tus datos personales</h3>
                        <div class="mb-3 d-flex flex-row" >
                        <input type="text" class="form-control w-50" id="email" placeholder="Correo electrónico">
                        <input type="text" class="form-control w-50 ms-3" id="userName" placeholder="Nombre completo" >
                        <button class="ms-3 btn btn-primary" id="register-user-btn"> Aceptar</button>
                        </div>
                    </form>
                </div>
            <!--  -->
                <div id="quiz-content" class="mx-auto" hidden>
                <div class="card shadow-none p-3 rounded" onclick="registerClickInteractionStatement('pregunta |')">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">Pregunta 1.</h6>
                    <h5 class="card-title">pregunta |</h5>

                    <div class="form-group multiple-choise-question" id="1">
                        <div class="form-check">
                <input  class="check-input form-check-input question-1 multiple-choise-input" 
                        type="checkbox" 
                        value="correcto" 
                        id="flexCheckChecked1-1" >
                <label class="form-check-label" for="flexCheckChecked1-1}">correcto</label>
            </div>
            <div class="form-check">
                <input  class="check-input form-check-input question-1 multiple-choise-input" 
                        type="checkbox" 
                        value="incorrecto" 
                        id="flexCheckChecked1-2" >
                <label class="form-check-label" for="flexCheckChecked1-2}">incorrecto</label>
            </div>
            
                    </div>

                </div>
            </div>
            
    <div class="card border-danger" id="bad-response-question-1" style="max-width: 100vh;" hidden>
        <div class="card-body text-danger">
        <h6 class="card-title">Respueta incorrecta</h6>
        <p class="card-text">te equivocaste</p>
        </div>
    </div>
    <div class="card shadow-none p-3 rounded question" onclick="registerClickInteractionStatement('pregunta 2')">
                <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Pregunta 2.</h6>
                <h5 class="card-title">pregunta 2</h5>
            
                <div class="input-group short-response-question" id="2">
                    <div class="input-group-prepend ">
                    <span class="input-group-text">Tú respuesta:</span>
                    </div>
                    <input type="text" class="form-control question-2 short-text-input" id="answer-input">
                </div>

                </div>
            </div>
    <div class="card border-danger" id="bad-response-question-2" style="max-width: 100vh;" hidden>
        <div class="card-body text-danger">
        <h6 class="card-title">Respueta incorrecta</h6>
        <p class="card-text">mensaje de error corta</p>
        </div>
    </div>
    <div class="card shadow-none p-3 rounded" onclick="registerClickInteractionStatement('verdadero')">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">Pregunta 3.</h6>
                    <h5 class="card-title">verdadero</h5>
                    <div class=" form-group d-flex flex-row true-false-question" id="3">

                        <div class="form-check">
                            <input class="form-check-input question-3 true-false-input" type="radio" name="flexRadioverdadero" id="flexRadioverdadero1" value="true" >
                            <label class="form-check-label" for="flexRadioverdadero1">True</label>
                        </div>

                        <div class="form-check mx-3">
                            <input class="form-check-input question-3 true-false-input" type="radio" name="flexRadioverdadero" id="flexRadioverdadero2" value="false" >
                            <label class="form-check-label" for="flexRadioverdadero2">False</label>
                        </div>

                    </div>
                </div>
            </div>
    <div class="card border-danger" id="bad-response-question-3" style="max-width: 100vh;" hidden>
        <div class="card-body text-danger">
        <h6 class="card-title">Respueta incorrecta</h6>
        <p class="card-text">era verdad</p>
        </div>
    </div>
    
                <button class="btn btn-outline-primary d-block mb-5" id="evaluation-button" onclick='setPointsPerQuestion()'>Enviar</button>
                 </div>
            <!--  -->

            </main>
            <script src="./scripts/tincan-min.js"></script>
            <script src="./scripts/xApiInteractions.js"></script>
            <script src="./scripts/main.js"></script>
            <script>
                const registrarUsuario=(e)=>{
                    e.preventDefault()
                    setUserName(document.getElementById("userName").value);
                    setEmail(document.getElementById("email").value);
                    document.getElementById("user-form").hidden=true; 
                    document.getElementById("quiz-content").hidden=false;
                }
                const btn=document.getElementById("register-user-btn")
                btn.addEventListener("click",registrarUsuario,false)
            </script>
            <script>
                
    let totalScore=0;
    let totalAttemps=0;
    let incorrectResponses=0;
    const minScore=0;
    const maxScore=50;
    const minimalNoteToAprove=26;
    const questionsResponseExpected=[{ 
                                            number:1,
                                            correctAnswer:["correcto",],
                                            points:15,
                                            failedMessage:"te equivocaste"
                                            },{ 
                                            number:2,
                                            correctAnswer:["corta"],
                                            points:15,
                                            failedMessage:"mensaje de error corta"
                                            },{ 
                                            number:3,
                                            correctAnswer:["true"],
                                            points:20,
                                            failedMessage:"era verdad"
                                            },];
            </script>
            <script>
            let cuestionActivitiesArray=[
                {
        id:"http://www.EVA12022.com/questionpregunta|Activity",
        definition: {
            description: {es: "pregunta |"},
            type: "http://adlnet.gov/expapi/activities/quizInteraction",
            interactionType: "choice",
            correctResponsesPattern: ["correcto "],
            choices: [{id:"correcto"},{id:"incorrecto"},]
        }
},{
        id:"http://www.EVA12022.com/questionpregunta2Activity",
        definition: {
            description: {es: "pregunta 2"},
            type: "http://adlnet.gov/expapi/activities/quizInteraction",
            interactionType: "fill-in",
            correctResponsesPattern: ["corta"]
            }
    },{
            id:"http://www.EVA12022.com/questionverdaderoActivity",
            definition: {
                description: {es: "verdadero"},
                type: "http://adlnet.gov/expapi/activities/quizInteraction",
                interactionType: "true-false",
                correctResponsesPattern: ["true"]
                }
            },
    
            ]
            </script>
        </body>
</html>